.Card_container{
	background-color: gray;
    border-style: solid;
    border-color: gray;
}

.bigCounter{
    background: black;
    text-align: center;
    /* margin:auto;
    text-align: center; */
    

}

.bigCounter div{
    display: inline-block;
    font-size: 60px;
    color:white;
    background: black;
    line-height: 120px;
    height: 120x;
    margin: 30px;
}

